<!DOCTYPE html>
<html>
<head>
<!-- Page header -->
<meta charset="utf-8" />
<meta name="keywords" content="floody, floodyapp, Floody, Floodyapp">
<meta name="description" content="Floody">
<meta name="author" content="floodyapp.com">

<link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" href="../public/css/theme.css">

<title>Floody</title>

<style>
h1 {
  color: white;
  text-align: center;
  font-size:50px;
}

h2 {
  color: white;
  text-align: center;
}
</style>

</head>


<body bgcolor="#181821">

<center>
    <img src="../public/logo.png" align="middle" alt="floody icon" class="responsive">
</center>

<h1>"AL - SAT - TAKASLA"</h1>

<h2>floodyapp@gmail.com</h2>
                        	
</body>
</html>


